
html {
  background-color:white;

}


* {
  margin:0;
  padding:0;
}
body {
  font-family: 'Syncopate', sans-serif;
  margin: 0;
  padding: 0;
  display: block;
  margin: 8px;
  text-align: center;
  }
  
/*<!-- nav --> */
nav a {
  padding: 0 15px;
  font-weight: 700;
  color: #cc337a;
  text-decoration: none;
}
a {
  cursor: pointer;
  text-align: center;
  color:black;
  cursor: pointer;

  }

h4 {
  font-size: small;
}

  #logo {
    width: 200px;;
    height: 200px;
    align-items: center;
    margin: 1px;
    padding-right: 21cm;
  }

  .nav-content a {
    color:#000000;
}


/* <!-- header --> */
 /* HEADER */
 header {
  /* height: 80vh; */
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1em;

  margin: 1.5em auto;
  height: 100%;
  padding: 6em 4em;
}

/* Header text */
#my-titles-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 
  padding-top: 0.5em;
    padding-bottom: 4em;
}
.header-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.header-text h2 span {
  font-style: italic;
  
  
}

.header-text h3{
  font-size: small;
  
}
.header-text h2{
  margin-bottom: 1em;
  text-align: center;
}


.btn-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.btn-container a {
  text-decoration: none;
  display: block;
  padding: 0.8em 1em;
}
.header-container {
  background: linear-gradient(103.05deg, rgba(251, 244, 250, 0.74) 40.8%, rgba(252, 206, 255, 0.79) 110.4%);
  border-radius: 1em;
  border: none;
}

  /* Header image */
  .header-container img {
    width: 15rem;
  padding: 1mm ;
  margin: auto;
  border-radius: 250px;
}
  

  //* SKILLS */
  #skills {
    padding-top: 0.5em;
    padding-bottom: 4em;
  }

  #subheading {
    margin-bottom: 3em;
    margin-top: 10em;
  }

  .skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    list-style: none;
  }

  .skills-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 1em;
  }

  .skills-list li img {
    width: 40px;
    height: 40px;
  }
  
#content {
  text-decoration: none;
  display: block;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1fr;
}






.skills-list {
  grid-template-columns: 1fr;
}
 
.skills-list li {
  border: 1px solid #f4e5f4;
  border-radius: 1em;
  background-color: rgba(251, 245, 250, 0.3);
  /* background-color: #FFE7E7; */
}

/* Footer */
footer {
  padding-bottom: 3em;
}

footer h2 {
  margin: 200px auto 50px auto;
  font-size: small;
  padding: auto;
}

footer h4 {
  margin-bottom: 0.5em;
}

.work, .contact {
  list-style: none;
  margin: 0;
}

footer a {
  text-decoration: none;
  display: block;
  padding: 0.5em;
}

#footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#work, #contact {
  grid-column: 1fr;
}
footer a {
  color: #0A3A3F;
}

footer h4 {
  color: #FFB1A5;
  font-size: small;
 
}
